h1 {
  color: #878787;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weatherapp {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
a {
  text-decoration: none;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
  font-weight: bolder;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 35px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}
.forecast-temp-min {
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
