h1 {
  color: #878787;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16;
  font-weight: 100;
  line-height: 19px;
}

.city-name {
  font-weight: 400px;
  font-family: "Quicksand";
  letter-spacing: 2px;
  font-size: 28px;
  color: #212529;
  margin-bottom: 10px;
}
li:first-letter {
  text-transform: capitalize;
}

.weatherapp {
  max-width: 600px;
  margin: 40px auto;
  margin-bottom: 10px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(-225deg, #fffeff 0%, #ace0f9 100%);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
a {
  text-decoration: none;
  color: #212529;
}

.units {
  position: relative;
  font-size: 16px;
  color: #212529;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
  font-weight: bolder;
}
.active:hover {
  text-decoration: none;
  color: #212529;
}

.weather-forecast {
  margin-top: 45px;
}

.weather-forecast-date {
  font-size: 16px;
}
.forecast-temp-min {
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}

.weather-condition {
  border: #212529 1px solid;
  border-radius: 15px;
}
